.timeline {
  background-color: @yellow;
  min-height: 500px; // remove later
}

.ingredients {
  background: url("/assets/background/ingredients.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  height: 100%;
}

.process {
  background-color: @bright-yellow;
  min-height: 500px; // remove later
}

.equipment {
  background: url("/assets/background/equipment.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  height: 100%;
}

.highlighted {
  min-height: 500px; // remove later
}