@import "values";

.equipment {

  .image-container {
    position: relative;
  }

  h3 {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  .equipment-image {
    width: 100%;
    display: block;
  }
}