@import "values";

section.header {
  padding: 30px 0 60px;

  .inner {
    position: relative;

    .outline {
      position: absolute;
      border: 2px solid darken(@gold, 30%);
      border-bottom: none;
      top: 18px;
      left: 0;
      width: 100%;
      height: 80%;
      z-index: 0;
      min-height: 400px;

      @media @small {
        position: static;
        display: block;
        height: auto;
        border: none;
        min-height: 0;
      }
    }

    .content {
      position: relative;
      z-index: 999;
    }

    .logo {
      position: absolute;
      top: 14px;
      left: 14px;
      width: 230px;
      z-index: 999;

      @media @small {
        position: relative;
      }

      @media @mobile {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 200px;
      }
    }

    .tagline {
      position: absolute;
      top: 16px;
      right: 14px;
      text-align: right;
      color: @df-off-white;
      text-transform: uppercase;
      font-size: 30px;

      @media @small {
        position: relative;
        float: right;
      }

      @media @mobile {
        display: none;
      }
    }

  }

  .title {
    color: @brown;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    z-index: 9;
    position: relative;
    display: block;
    // letter-spacing: 4px;
    .outline-text(.15em);

    @media @small {
      background: @gold;
      text-shadow: none;
    }

    @media @tablet {
      padding-top: 0px;
    }

    @media @mobile {
      font-size: 40px;
    }
  }

  .jump {
    text-align: center;
    text-transform: uppercase;
    font-family: @hed;
    font-weight: 900;
    position: relative;
    padding: 0;
    background: @gold;
    margin: 4px;
    // .outline-text();

    @media @small {
      margin: 0;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .video {
    position: relative;

    &::before {
      position: absolute;
      content: " ";
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(assets/background/video-background.jpg) no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  .aspect-outer {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 20px 0 20px;

    @media @mobile {
      width: 100%;
    }

    .aspect-inner {
      height: 0;
      padding-bottom: percentage(9.0 / 16.0);
      position: relative;

      .video-embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

}