@import "values";

.header {

  .title {
    color: @brown;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
  }

  .jump {
    text-align: center;
    text-transform: uppercase;
    font-family: @hed;
    font-weight: 900;

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

}