@import "values";
@import "flexbox";

.ingredients {
  background: url("assets/background/ingredients.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 20px;

  .ingredients-container {
    .display-flex;
    .flex-direction(row);
    .flex-wrap(wrap);

    @media @mobile {
      display: block;
    }

    .ingredient {
      .flex(1);

      h3 {
        display: none;
      }

      @media @tablet {
        .flex(1 0 50%);
      }
    }
  }

  .ingredient {
    position: relative;
    overflow: hidden;
    padding: 8px;

    img {
      display: block;
    }

    .image-container {
      position: relative;

      &::before {
        position: absolute;
        background: rgba(0, 0, 0, .4);
        padding: 8px 16px;
        // border-radius: 8px;
        color: white;
        text-shadow: 0 0 6px rgba(0, 0, 0, .8);
        font-family: @hed;
        font-size: 20px;
        top: 50%;
        left: 50%;
        -wekbit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
      }

      &.hops::before {
        content: "Hops";
      }

      &.water::before {
        content: "Water";
      }

      &.grain::before {
        content: "Grain";
      }

      &.yeast::before {
        content: "Yeast";
      }
    }
  }

  .detail {
    // padding: 8px;
  }
}