@import "values";
@import "flexbox";

.intro {
  background: url("assets/background/intro.jpg");
  background-size: cover;
  background-position: left top;

  .inner {
    .display-flex;
    @media @mobile {
      .flex-direction(column);
    }
  }

  .intro-left, .intro-right {
    padding: 1em;
    .flex(1);
  }

  .intro-left {
  }

  .section-hed {
    margin-top: 0;
  }

  .intro-chatter {
    font-size: 1.4em;
  }

  .brewsletter {
    .display-flex;
    .flex-direction(column);
    .justify-content(center);
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
  }

  .subscribe.button {
    display: block;
  }

}

