@import "values";
@import "flexbox";

.intro {
  background: url("assets/background/intro.jpg");
  background-size: cover;
  background-position: left top;
  padding: 20px;

  .inner {
    .display-flex;
    @media @mobile {
      display: block;
    }
  }

  .intro-left, .intro-right {
    padding: 1em;
    .flex(1 1 0%);

    @media @mobile {
      padding: 0;
    }
  }

  .intro-chatter {
    a {
      color: @goldenrod;
    }
  }

  .section-hed {
    margin-top: 0;
  }

  .brewsletter {
    .display-flex;
    .flex-direction(column);
    .justify-content(center);
    font-size: 16px;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
  }

  .subscription {
    .flex(0);

    .form {
      overflow: hidden;
      text-align: center;
      padding: 10px;
    }

    .subscribe-logo {
      width: 200px;
    }

    .subscribe.button {
      display: block;
    }

    .pitch {
      text-align: center;
      color: black;
      padding: 10px;

      p {
        margin: 0;
        line-height: 1.2;
        font-size: 14px;
      }
    }
  }

}

.share {
  text-shadow: none;
  text-decoration: none !important;
  display: block;
  margin-top: 20px;

  & label {
    background: white !important;
  }
}