@import "values";

#mc_embed_signup {

  form {
    padding: 0;
  }

  .button {
    background-color: @goldenrod;
    font-family: @hed;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;

    &:hover {
      background-color: @gold;
    }
  }
}