@import "values";

html, body {
  height: 100%;
}

body {
  background-color: @gold;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: @hed;
  font-weight: 900;
  letter-spacing: 1px;
}

a {
  color: @df-off-black;

  &:hover {
    text-decoration: underline;
    color: initial;
  }
}

section {
  width: 100%;
  margin: 0 auto;
  float: left;
}

.light-text {
  color: @df-off-white;
}

.dark-text {
  color: @df-off-black;
}

.section-hed {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}

.gray-box {
  background-color: fade(@df-off-white, 45%);
  padding: 10px;
  margin-bottom: 20px;
}

.hed-label {
  margin: 10px 0;
  color: @df-off-black;
  text-transform: uppercase;
}