@import "values";

html, body {
  height: 100%;
}

body {
  background-color: @goldenrod;
}

.header {

  .title {
    color: @brown;
    text-transform: uppercase;
    text-align: center;
  }

  .jump {
    text-align: center;
    text-transform: uppercase;

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

}

section {
  width: 100%;
  margin: 0 auto;
}