@import "values";

body {
  background-color: @gold;
  font-family: @df-sans;
  // font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: @hed;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1;
}

a {
  color: @df-off-black;

  &:hover {
    text-decoration: underline;
    color: initial;
  }
}

.primary {
  margin: 0;
  padding: 20px;

  .inner {
    max-width: 1200px;
    margin: auto;
  }

  @media @mobile {
    // font-size: 14px;
    padding: 20px 0;
  }
}

.light-text {
  color: @df-off-white;

  .contrasted {
    text-shadow: 0px 0px 4px black, 0 0 8px black, 0 0 16px black;
  }
}

.dark-text {
  color: @df-off-black;
}

.section-hed {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}

.gray-box {
  background-color: fade(@df-light-gray, 60%);
  color: black;
  padding: 10px;
  margin-bottom: 20px;
}

a.button, input[type=submit] {
  background-color: @orange;
  font-family: @hed;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 4px;
  border: none;
  padding: 8px 0;
  transition: background-color .2s linear;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: @goldenrod;
  }
}