@import "values";
@import "flexbox";

.process {
  background-color: white;
  min-height: 500px; // remove later

  .thumbnail {
    display: block;
  }

  iframe:not([src]) {
    display: none;
  }

  .animated & {
    .thumbnail {
      display: none;
    }
  }

  .section-chatter {
    max-width: 900px;
    margin: auto;
  }

  .numeral {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    color: white;
    background: black;
    border-radius: 100%;
    text-align: center;
    vertical-align: text-bottom;
    font-family: @df-sans;
    margin-right: 3px;
    padding-left: 2px;
    padding-top: 1px;
  }

  .final {
    padding-top: 25px;
    text-align: center;
    font-size: 26px;

    @media @mobile {
      padding-top: 10px;
    }
  }

  .row {
    .display-flex;
    max-width: 800px;
    margin: auto;

    @media @mobile {
      display: block;
    }

    .animation {
      .flex(0 0 320px);
      text-align: center;
    }

    .text {
      .flex(1 1 0%);
      .display-flex;
      .justify-content(center);
      .flex-direction(column);
      padding-left: 60px;
      padding-right: 0;

      @media @mobile {
        display: block;
        padding: 10px;
      }
    }

    &.inverted {
      .text {
        padding-right: 60px;
        padding-left: 0;

        @media @mobile {
          padding: 10px;
        }
      }

      .animation {
        .flex-order(9);

        @media @mobile {
          .flex-order(0);
        }
      }
    }
  }
}