@import "values";
@import "flexbox";

.timeline {
  background-color: @goldenrod;
  text-align: center;

  .icon {
    padding: 0 5px;
    img {
      width: 200px;
    }
  }

  .content {
    .flex(1);

    .deadline {
      font-style: italic;
    }
  }

  .times {
    list-style-type: none;
    font-family: @hed;
    padding: 0;
    .display-flex;
    .flex-wrap(wrap);

    @media @mobile {
      display: block;
    }

    li {
      .flex(1 0 25%);
      background: rgba(255, 255, 255, .6);
      padding: 8px;
      border: 2px solid @goldenrod;

      @media @tablet {
        .flex(1 0 50%);
      }
    }
  }
}