<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- MailChimp CSS -->
    <!-- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"> -->
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:500,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <%= t.include("_header.html") %>

    <%= t.include("_intro.html") %>

    <%= " " || t.include("_timeline.html") %>

    <%= t.include("_equipment.html") %>

    <%= t.include("_ingredients.html") %>

    <%= t.include("_process.html") %>

    <%= " " || t.include("_highlighted.html") %>

    <%= t.include("_signup.html") %>

    <%= t.include("_footer.html") %>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= t.include("partials/_adFoot.html") %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
