<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <header class="header">
      <h1 class="title">Brew with us</h1>
      <ul class="jump">
        <li><a href="#intro">About</a>
        <li>/
        <li><a href="#timeline">Timeline</a>
        <li>/
        <li><a href="#ingredients">Ingredients</a>
        <li>/
        <li><a href="#process">Process</a>
        <li>/
        <li><a href="#equipment">Equipment</a>
      </ul>
    </header>

    <section id="intro" class="intro">
      <h2> Welcome to the project</h2>
      <p>Chatter chatter chatter.
    </section>

    <section id="timeline" class="timeline">
      <h2>Brewing timeline</h2>
    </section>

    <section id="ingredients" class="ingredients">
    </section>

    <section id="process" class="process">
      <h2>Nowlin's graphics</h2>
    </section>

    <section id="equipment" class="equipment">
    </section>

    <section id="highlighted" class="highlighted">
    </section>

    <footer>
    </footer>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
